{% extends 'base.html' %}

{% block title %}
    DetalhesFilme Hashflix
{% endblock %}

{% block head %}
{% load static %}
<link	rel="stylesheet" type="text/css"	href="{% static 'css/style_detalhesfilmes.css' %}"/>
<link	rel="stylesheet" type="text/css"	href="{% static 'css/style_carousel.css' %}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
  <section class="sec-filme" style="background-image: url('{{ object.thumb.url }}');">
    <div class="title-film">
      {{ object.titulo }}
    </div>
    <div class="description-resume">
      {{ object.descricao }}
    </div>
    <div class="btn-play">
      <a href="{{ object.episodios.first.video }}">Play</a>
    </div>
    <!-- <img src="{{ object.thumb.url }}" alt=""> -->
  </section>

  <section class="sec-episodio">
    <div class="description">
      <div class="subtitle">Descrição</div>
      <p>{{ object.descricao }}</p>
      <p class="visualizacao">Visualizações: {{ object.visualizacoes }}</p>
    </div>
    <div class="episod">

      <div class="subtitle">Episódios</div>
      {% for episodio in object.episodios.all %}
         <a href="{{ episodio.video }}" class="link-epsod">
            Episódio {{ forloop.counter }}: {{ episodio.titulo }}
         </a>
      {% endfor %}
    </div>
  </section>

  <section class="sec-related">
    <div class="subtitle">Filmes Relacionados</div>
    <div class="container">
  			<button class="arrow-left control" aria-label="Previous image">
  				◄
  			</button>
  			<button class="arrow-right control" aria-label="Next image">
  				►
  			</button>
  			<div class="gallery-wrapper">
  				<div class="gallery">
            {% for film_rel in filmes_relacionados %}
              <a href="{% url 'filme:detalhesfilme' film_rel.pk %}">
                <img src="{{ film_rel.thumb.url }}" alt="" class="item">
                <p class="text-list">{{ film_rel.titulo }}</p>
              </a>
            {% endfor %}
  				</div>
  			</div>
  		</div>
  </section>
</div>
<script src="{% static 'js/carousel.js'%}" charset="utf-8"></script>
{% endblock %}
