{% extends 'base.html' %}

{% block title %}
    Logout Hashflix
{% endblock %}

{% block head %}
{% load static %}
<link	rel="stylesheet" type="text/css"	href="{% static 'css/style_logout.css' %}"/>
{% endblock %}

{% block content %}
<div class="content">
  <header class="header">
  	<div class="title-header">
  		Logout realizado com sucesso.
  	</div>
    <div class="group-btn">
      <div class="btn-access">
        <a href="{% url 'filme:login' %}">
          Fazer Login
        </a>
      </div>
      <div class="btn-access">
        <a href="{% url 'filme:criarconta' %}">
          Criar uma Conta
        </a>
      </div>
    </div>

  </header>

</div>
{% endblock %}
