{% load static %}
<nav class="navbar">
    <div class="nav-logo">
        <a href="/">
            <img src="{% static 'images/hashflix.png' %}" alt="logo-hashflix">
        </a>
    </div>

    <button class="hamburger"></button>

    <div class="group-nav">
      {% if user.is_authenticated %}
        <form method="get" action="{% url 'filme:pesquisafilme' %}" class="nav-search">
          <input type="search" name="query" id="search" value="{{ request.GET.query }}" placeholder="Pesquisar...">
          <input type="submit" value="" class="nav-submit">
        </form>
      {% endif %}
      {% if user.is_authenticated %}
        <div class="nav-btn">
            <a href="{% url 'filme:logout' %}" id="exit-text">Sair</a>
        </div>
      {% else %}
      <div class="nav-btn">
          <a href="{% url 'filme:login' %}">Login</a>
      </div>
      {% endif %}
      {% if user.is_authenticated %}
        <div class="nav-btn">
            <a href="{% url 'filme:editarperfil' user.pk %}">Editar Perfil</a>
        </div>
      {% endif %}
    </div>

</nav>
