{% load static %}
<nav class="navbar">
    <div class="nav-logo">
        <a href="/">
            <img src="{% static 'images/hashflix.png' %}" alt="logo-hashflix">
        </a>
    </div>
    <div class="group-nav">
        <form method="get" action="{% url 'filme:pesquisafilme' %}" class="nav-search">
          <input type="search" name="query" id="search" value="{{ request.GET.query }}" placeholder="Pesquisar...">
          <input type="submit" value="" class="nav-submit">
        </form>
        <div class="nav-btn">
            <a href="#">Sair</a>
        </div>
        <div class="nav-btn">
            <a href="#">Editar Perfil</a>
        </div>
    </div>
</nav>
